body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: #f0f0f0;
}

header {
    background: #0d0d0d;
    color: #fff;
    text-align: center;
    padding: 50px 20px;

}

header h1 {
    font-size: 40px;
    margin: 0;
    letter-spacing: 2px;
}

.form-section {
    background: #fff;
    max-width: 550px;
    margin: 40px auto;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 0px 18px #00000025;
}

.form-section {
    text-align: center;
    margin-bottom: 25px;
    font-size: 26px;
}

label {
    font-weight: bold;
    margin-top: 15px;
    display: block;

}

input, select, textarea {
    width: 100%;
    padding: 12px;
    margin-top: 7px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
}

button {
    width: 100%;
    margin-top: 25px;
    padding: 15px;
    background: #0d0d0d;
    color: #fff;
    border: none ;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;

}


button:hover {
    background: #333;

}

.whatsapp-btn {
    margin-top: 20px;
    display: block;
    text-align: center;
    background: #25d366;
    color: #fff;
    padding: 15px;
    text-decoration: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
}


.whatsapp-btn :hover {
    background: #1da851;

}
    
footer {
    background: #0d0d0d;
    color: #fff;
    text-align: center;
    margin-top: 40px;
}